body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    background: url('https://4kwallpapers.com/images/wallpapers/lord-hanuman-ai-art-1920x1080-14691.jpg') center/cover fixed;
}
h1 {
    text-align: center;
    color: #ffffff;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff27;
    border: 1px solid #dddddd00;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    width: auto;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin: 5px;
}
button:hover {
    background-color: #0056b3;
}
.results {
    margin-top: 20px;
    padding: 20px;
    background: #e9f7f9;
    border: 1px solid #cce7eb;
    border-radius: 8px;
    overflow-x: auto; 
}
.results table {
    width: auto;
    border-collapse: collapse;
    table-layout: auto; 
}

.results th, 
.results td {
    padding: 8px;
    text-align: center;
    border: 1px solid ;
}

.scanx_results {
    width: 450px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

#adminButton {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#adminButton:hover {
    background-color: #0056b3;
}
label {
    color:#ffffff;
    font-size: large;
}
@media (max-width: 600px) {
    .scanx_results {
        flex-direction: column;
        gap: 8px;
    }

    .header-title {
        font-size: 1.4rem;
    }
}
